.App-logo {
  height: 35px;
  margin-left: 20px;
}


.App-header {
    text-align: left;
    background-color: #1D428A;
    margin-bottom: 50px;
    height: 55px;
    padding: 10px;
    color: white;
    box-shadow: 1px 1px 10px #333;
  }